<h2>New Reservation Created</h2>
<p>A new reservation has been created by {{ telefonBox.userId.name }}.</p>
<p>Title: {{ telefonBox.title }}</p>
<p>Start: {{ telefonBox.startTime|date('d/m/Y H:i') }}</p>
<p>End: {{ telefonBox.endTime|date('d/m/Y H:i') }}</p>
